In [1]:
import pandas as pd
import numpy as np

# Question 1 (15pts)

In [120]:
data={'Area':['Array','Stack','Queue'],'Student1':[20,6,19],'Student2':[4,20,14]}
df = pd.DataFrame(data, index =['Cat_1', 'Cat_2', 'Cat_3'])

In [121]:
df

        Area  Student1  Student2
Cat_1  Array        20         4
Cat_2  Stack         6        20
Cat_3  Queue        19        14

In [122]:
'''
Above is a code segment that creates a DataFrame from a dict of lists.
Write a code segment to create the same dataframe from a list of lists (i.e. appropriately 
create the variables data and df).
'''


data=[[],[],[]]
index_=df.index
columns_=df.columns
k=0
for i in df.index:
    data[k].append(df["Area"][i])
    data[k].append(df["Student1"][i])
    data[k].append(df["Student2"][i])
    k+=1
print(data)
#final output
data_lists=pd.DataFrame(data,index=index_,columns=columns_)
data_lists

[['Array', 20, 4], ['Stack', 6, 20], ['Queue', 19, 14]]

        Area  Student1  Student2
Cat_1  Array        20         4
Cat_2  Stack         6        20
Cat_3  Queue        19        14

In [127]:
#to check
data_lists==df

       Area  Student1  Student2
Cat_1  True      True      True
Cat_2  True      True      True
Cat_3  True      True      True

# Another Way

In [126]:
'''
Above is a code segment that creates a DataFrame from a dict of lists.
Write a code segment to create the same dataframe from a list of lists (i.e. appropriately 
create the variables data and df).
'''


Area=[]
Student1=[]
Student2=[]

index_=df.index
columns_=df.columns
for i in df.index:
    Area.append(df["Area"][i])
    Student1.append(df["Student1"][i])
    Student2.append(df["Student2"][i])
data=[Area,Student1,Student2]
#final output
data_lists_=pd.DataFrame(data,index=columns_,columns=index_).transpose()
data_lists_

        Area Student1 Student2
Cat_1  Array       20        4
Cat_2  Stack        6       20
Cat_3  Queue       19       14

In [128]:
#to check
data_lists_==df

       Area  Student1  Student2
Cat_1  True      True      True
Cat_2  True      True      True
Cat_3  True      True      True

# Question 2 (10pts) What is the output of the code segment below?!

In [117]:
d = {'one': pd.Series([1,2], index  = ['a','e']), 
     'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
df = pd.DataFrame(d, index = ['d', 'b', 'a'])
df

   one  two
d  NaN    3
b  NaN    1
a  1.0    0

In [ ]:
'''
The output is the following:
First we created a data frame from dictionary "d", that contains some index a and e for one,
'a','b', 'c', and  'd' for two,
but while creating the dataframe, we assigned some specific index values, d,b, and a,
so here, we going to assign the specific index values to the new dataframe, 
and use the content of dictionaty d to fill the dataframe, 
if there exist an index from the selected specific ones in d, then we assign the data from the dictionary,
otherwise it will be assigned a null pointer.

Even, when converting the d to dataframe, since we have two coulmns in one, we miss some rows (missmatch or not exist)
so, automatically will be filled by Nan
for rexample b does not exit in column one, but in two, so Nan will be assigned to one.
Anothier thing, the generated dataframe, will be ordered via the order of the selected index.

'''

# Question 3 (10pts)

In [86]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C','D'])
'''
Write a code segment that prints last two rows of df that statisfy column A+column B>Column C.
'''
df.loc[(df.A +df.B) > df.C,:].iloc[-2:,:]

                   A         B         C         D
2000-01-05  0.591796 -1.225009 -1.258568 -0.753578
2000-01-08 -0.855037  0.252539 -0.659923 -0.464025

In [89]:
#to check
df.A+df.B>df.C

2000-01-01    False
2000-01-02     True
2000-01-03     True
2000-01-04    False
2000-01-05     True
2000-01-06    False
2000-01-07    False
2000-01-08     True
Freq: D, dtype: bool

# Question 4 (15pts)

In [84]:
df=pd.DataFrame({'Date':['1/2/2011','1/3/2011','1/4/2011','1/5/2011', '1/6/2011'],
                 'Event': ['Music', 'Poetry', 'Music', 'Music', 'Poetry']})
'''
Write a single line of code to add a new column called ‘Price’ to the dataframe df. Set the price 
to 1500 if the ‘Event’ is ‘Music’ else 800. 
'''
df["Price"]=[1500 if EVENT =='Music' else 800 for EVENT in df['Event']]
df

       Date   Event  Price
0  1/2/2011   Music   1500
1  1/3/2011  Poetry    800
2  1/4/2011   Music   1500
3  1/5/2011   Music   1500
4  1/6/2011  Poetry    800

# Question 5 (15pts)

In [65]:
record = {'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
  	    'Age': [21, 19, 20, 18, 17, 21], 'Percent': [88, 92, 95, 70, 65, 78],
  	    'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science']}
dataframe = pd.DataFrame(record,columns=['Name','Age','Stream','Percent'])
'''
Write a code segment to select all the rows from the given dataframe in which
‘Age’ is equal to 21 and ‘Stream’ is either Science or Math using .loc[].
'''
dataframe.loc[(dataframe.Age==21) & (dataframe.Stream.isin(["Math","Science"]))]

      Name  Age   Stream  Percent
0    Ankit   21     Math       88
5  Shaurya   21  Science       78

# Question 6 (20pts)

In [101]:

#df = pd.read_csv('link_to_abalone.data',header=None,names=['sex','length','diameter','height','weight','shucked_weight','viscera_weight','shell_weight','rings'])
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data',
 header=None, names=['sex', 'length', 'diameter', 'height', 'weight', 'shucked_weight',
 'viscera_weight', 'shell_weight', 'rings'])
X = df[['length']].to_numpy()
y = df['rings'].to_numpy()
from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(X, y)
'''
Above is an example of training a regression model predicting 
the age of an abalone given its length feature. Modify this code segment 
to train a new regression model using 'diameter', 'viscera_weight' and 'diameter'^2/'viscera_weight' 
(i.e. 'diameter' squared divided by 'viscera_weight') as additional features.
'''

"\nAbove is an example of training a regression model predicting \nthe age of an abalone given its length feature. Modify this code segment \nto train a new regression model using 'diameter', 'viscera_weight' and 'diameter'^2/'viscera_weight' \n(i.e. 'diameter' squared divided by 'viscera_weight') as additional features.\n"

# The updated code is

### !!!!!!!! Note: Since i don't have the dataset, i just wrote the code here.

In [104]:
df_new=df.copy() #create a copy of original data
df_new["New_Diameter"]=df.diameter**2/df.viscera_weight #create the new diameter column
X = df_new[['diameter', 'viscera_weight','New_Diameter']].to_numpy() #convery to numpy
y = df_new['rings'].to_numpy()
from sklearn import linear_model
#train the mpdel
model = linear_model.LinearRegression()
model.fit(X, y)

LinearRegression()

In [106]:
df_new[['diameter', 'viscera_weight','New_Diameter']]

      diameter  viscera_weight  New_Diameter
0        0.365          0.1010      1.319059
1        0.265          0.0485      1.447938
2        0.420          0.1415      1.246643
3        0.365          0.1140      1.168640
4        0.255          0.0395      1.646203
...        ...             ...           ...
4172     0.450          0.2390      0.847280
4173     0.440          0.2145      0.902564
4174     0.475          0.2875      0.784783
4175     0.485          0.2610      0.901245
4176     0.555          0.3765      0.818127

[4177 rows x 3 columns]

# Question 7 (15pts)

In [ ]:
import torch
# Features are 3 random normal variables
features = torch.randn((1, 3))
# Define the size of each layer in our network
# Number of input units, must match number of input features
n_input = features.shape[1]     
n_hidden = 2                # Number of hidden units 

##########
n_hidden_new = 5               # Number of hidden units 
##########

n_output = 1                # Number of output units

# Weights for inputs to hidden layer
W1 = torch.randn(n_input, n_hidden) 

#new layer
Wn=torch.randn(n_hidden, n_hidden_new) 

# Weights for hidden layer to output layer
W2 = torch.randn(n_hidden_new, n_output)

'''
Add biases
'''
B1=torch.randn(W1.shape[1]) 
B2=torch.randn(Wn.shape[1]) 
B3=torch.randn(W2.shape[1]) 

# calculate the output for this multi-layer network using the weights W1 & W2. 
h = activation(torch.mm(features, W1))+B1
h_2 = activation(torch.mm(h, Wn))+B2
output = activation(torch.mm(h_2, W2))+B3
print(output)
'''
Above is a code segment for constructing a neural network with a
single hidden layer with 2 hidden units and an output layer with a single unit is
given below. The parameters (Wi) are initialized randomly. Modify this code segment to add 
another hidden layer with 5 hidden units and also, to supply random biases (Bi) to the 
output computation for every unit. 
'''
DONE=100

In [108]:
torch.randn()

tensor([0.9475, 1.6669])