# 2 Control flow

### Exercise 2.1: Range

In [3]:
'''
Type range(5) in the interpreter, what does the interpreter return? So what does for i in range(5)
mean?
the ouput of the syntax above will just show the starting value and the boundary value

for i in range (5), is assignign the values between 0 and 5 (excluded) to the variable i in each ittiteration
'''
range(5)

range(0, 5)

In [5]:
'''
Let’s also find out whether the interpreter can help us understand the object ‘range(5)’ better. Type
type(range(5)) in the interpreter. More on this soon!

as expected, python contains a seprate type named type. 
since range() generates a sequence of integers based on the arguments, so it returns the object of <class 'range'>.

'''
type(range(5))

range

###  Exercise 2.2: For loops

####  In this exercie i am assuming that 100 is included as well, as the question is not clear

In [15]:
'''
(a) Print the numbers 0 to 100
'''
k=0 # k is used to print k elements per row
for i in range (101):
    # if the row contains 20 values, then move to the next row, and reintialize k
    if k==20:
        k=0
        print('')
    print(i,end=" ")
    k+=1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39
40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79
80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99
100

In [11]:
'''
(b) Print the numbers 0 to 100 that are divisible by 7
'''
for i in range (101):
    if i % 7 ==0:
        print(i,end=" ")

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [12]:
'''
(c) Print the numbers 1 to 100 that are divisible by 5 but not by 3
'''
for i in range (101):
    if i % 5 ==0 and i % 3!=0:
        print(i,end=" ")

5 10 20 25 35 40 50 55 65 70 80 85 95 100

In [14]:
'''
(d) Print for each of the numbers x = 2, . . . 20, all numbers that divide x, excluding 1 and x. Hence,
for 18, it should print 2 3 6 9.
'''
x=18
for i in range (2,x):
    #if the remainder is 0 
    if x%i==0:
        # end function is used to keep all the values in one line
        print(i,end=" ")

2 3 6 9

### Exercise 2.3: Simple while loops

In [17]:
'''
(a) Print the numbers 0 to 100
'''
value=0
k=0
while value <= 100:
    # if the row contains 20 values, then move to the next row, and reintialize k
    if k==20:
        k=0
        print('')
    print(value,end=" ")
    value+=1
    k+=1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39
40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79
80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99
100

In [18]:
'''
(b) Print the numbers 0 to 100 that are divisible by 7
'''
value=0
while value <= 100:
    # if the row contains 20 values, then move to the next row, and reintialize k
    if value % 7 ==0:
        print(value,end=" ")
    value+=1

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

### Exercise 2.4: Hangman update 1

'''
Let’s reconsider the hangman code we saw in class.1 We noted that the computer agent is not very good
at guessing. Update the code such that the computer guesses ‘e’ first, and ’a’ second.
Use the simulate.py script to see if this improves performance.
Feel free to play around and see if you can do better!
'''

In [ ]:
'''
I trired it but it did not make a huge difference.
'''

### Exercise 2.5: While loops

In [25]:
#stotore the latest value to the variable below
last_value=0
value=11
while last_value < 20:
    if value%5==0 and value%7==0 and value%11==0:
        print(value, end=" ")
        last_value+=1
    value+=1

385 770 1155 1540 1925 2310 2695 3080 3465 3850 4235 4620 5005 5390 5775 6160 6545 6930 7315 7700

### Exercise 2.6: More while loops

In [33]:
value=10
while True:
    found=True
    for i in range(1,11):
        if value %i !=0:
            value+=1
            found=False
            break
    if found:
        print(value)
        break

2520

### Exercise 2.7: Collatz sequence

In [43]:
current_collatz_value=103
while current_collatz_value !=1:
    print(int(current_collatz_value),end=" ")
    if current_collatz_value%2==0:
        current_collatz_value/=2
    else:
        current_collatz_value=current_collatz_value*3+1
print(int(current_collatz_value),end=" ")

103 310 155 466 233 700 350 175 526 263 790 395 1186 593 1780 890 445 1336 668 334 167 502 251 754 377 1132 566 283 850 425 1276 638 319 958 479 1438 719 2158 1079 3238 1619 4858 2429 7288 3644 1822 911 2734 1367 4102 2051 6154 3077 9232 4616 2308 1154 577 1732 866 433 1300 650 325 976 488 244 122 61 184 92 46 23 70 35 106 53 160 80 40 20 10 5 16 8 4 2 1