# 1 - Basics

### Exercise 1.1: The interpreter

##### Aissa's Answer: Basic mathematic equation calculation, in which it will output the results as the output of the cell

In [86]:
3 + 1

4

In [87]:
3 * 3

9

In [88]:
# this one is similar to the math equation math.pow(x,2)
2 ** 3

8

In [89]:
#output the non declared string 
"Hello, world!"

'Hello, world!'

### Exercise 1.2: Scripts

In [90]:
'''
in order to run that script1,py file,
if you want to visualize the output of each syntax
you must use the print function, py is not a console-output app like jupyter
so you need to use the print finction to see the result of each syntax
'''

'\nin order to run that script1,py file,\nif you want to visualize the output of each syntax\nyou must use the print function, py is not a console-output app like jupyter\nso you need to use the print finction to see the result of each syntax\n'

### Exercise 1.3: More interpreter

In [91]:
'''
(a) ’py’ + ’thon’
concatenates two strings 
similar to "{}{}".format("py","thon")
'''
print("{}{}".format("py","thon"))
"py" + "thon"

python

'python'

'''
(b) ’py’ * 3 + ’thon’
first term concatenates 3 copies of string py first then append another string (thon)
'''

'''
(c) ’py’ - ’py’
as we know that the symbol - stands for the substraction operation
so it is acceptabble on only the arithitic operation,
so not accepted here, where the operands are strings
'''

'''
(e) ’3’ + 3
same problem or exception will be thrown here,
having two differnt types of str and int and add an arithmitic operation
in between them is forbidden
in order to make it correct, 
- either to have concatenation of two strings than we should convert the second operand to string using str(3) then it resutls in '33'
- or we convert the first operand to an int using int(3) then it resutls in 6
'''

In [92]:
'''
(e) 3 * ’3’
same as b) in which we construct a string that contains the string 3 three time
'''
3 * "3"

'333'

'''
(f) a
it will throw an error, in which it compiles 'a' as a variable
since it is not declared then it will throw a non declared error
'''

In [93]:
'''
(g) a = 3
defining a variable a and assign a value 3 to it (declare and initialize at once)
'''
a = 3

In [94]:
'''
(f) a
since we decalre a in the previosu cell, then it compiles 'a' as a variable
so the output will be the assigned value to a which is 3
'''
a

3

### Exercise 1.4: Booleans

In [95]:
'''
(a) 1 == 1
Since we compare two values of the same datatype, and the value is equale then it will
output a True
'''
1 == 1

True

In [96]:
'''
(b) 1 == True
in python 1 and 0 are interpreted as True and False, respectively.
so since 1 is equivalent to True, then it must outputs a True
'''
1 == True

True

In [97]:
'''
(c) 0 == True
same response as above, since 0 is equivalent to False, then False is not Trure,
so the output is False
'''
0 == True

False

In [98]:
'''
(d) 0 == False
since 0 is equivalent to False, so False is equal to False,
then the output is True
'''
0 == False

True

In [99]:
'''
(e) 3 == 1 * 3
python will first calculates the value of the basic math arithitic 1*3 which is equal to 3
since the ouput is 3 and the values are equal then it must output a True
'''
3 == 1 * 3

True

In [100]:
'''
(f) (3 == 1) * 3
since the parthesis's priority is higher, then the boolean operation inside the parenthesis are checked first
so False is duplicated three times, here python will interpret it as 0 so 0 * 3 is 0.
'''
(3 == 1) * 3

0

In [101]:
'''
(g) (3 == 3) * 4 + 3 == 1
same as above, the parthenis are checked first, which True, then True (equivalent to 1) 
is multiplied by 4 and added a value of 1 to it and it results in 7
since 7 is not equal to 1m then the final output is False
'''
(3 == 3) * 4 + 3 == 1

False

In [102]:
'''
(h) 3**5 >= 4**4
3 to the power of 5 is 243
4 to the power of 4 is 256
since the values are not equal, then the output must be False
'''
3**5 >= 4**4

False

### Exercise 1.5: Integers

In [103]:
'''
(a) 5 / 3
float devision, it will output the result of the reglar devision
'''
5 / 3

1.6666666666666667

In [104]:
'''
(b) 5 % 3
modulo, or the remainde of a the integer division
'''
5 % 3

2

In [105]:
'''
(c) 5.0 / 3
float devision, first it converts the first divisor to float (to force the result to be as a float type)
the ouput must be a float even if we divide 6.0 by 3 the ouput is 2.0 and not 2
'''
5.0 / 3

1.6666666666666667

In [106]:
'''
(d) 5 / 3.0
same as (c)
'''
5 / 3.0

1.6666666666666667

In [107]:
'''
(e) 5.2 % 3
again, the modulo, or the remainde of a the float division
so the remainde will be a float value

'''
5.2 % 3

2.2

In [108]:
'''
(f) 2001 ** 200
huge value of the mathematic operation of 2001 to the power of 200
'''
2001 ** 200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

### Exercise 1.6: Floats

In [109]:
'''
(a) 2000.3 ** 200
the output will be a huge float value of 2000.3 to the power of 200, since
the output of the value will be very huge value, as we know that foloat values
allocates too many bits, so i commented the syntax line.
but the output will be a huge float value
'''
#2000.3 ** 200

'\n(a) 2000.3 ** 200\nthe output will be a huge float value of 2000.3 to the power of 200, since\nthe output of the value will be very huge value, as we know that foloat values\nallocates too many bits, so i commented the syntax line.\nbut the output will be a huge float value\n'

In [110]:
'''
(b) 1.0 + 1.0 - 1.0
float value of the basic math arithmitic.
'''
1.0 + 1.0 - 1.0

1.0

In [111]:
'''
(c) 1.0 + 1.0e20 - 1.0e20
since the value of 1.0 + 1.0e20 and the value of 1.0e20 are so close]
so python will output 0.0 (float) as the rsultant value is really really small
'''
1.0 + 1.0e20 - 1.0e20

0.0

### Exercise 1.7: Variables

In [112]:
'''
Write a script where the variable name holds a string with your name. Then, assuming for now your
name is John Doe, have the script output: Hello, John Doe! (and obviously, do not use print "Hello,
John Doe!".
'''
name="Aissa HOUDJEDJ"
"Hello "+name+'!'

'Hello Aissa HOUDJEDJ!'

In [113]:
"{} {}!".format("Hello",name)

'Hello Aissa HOUDJEDJ!'

### Exercise 1.8: Type casting

In [ ]:
'''
Very often, one wants to “cast” variables of a certain type into another type. Suppose we have variable
x = ’123’, but really we would like x to be an integer.
This is easy to do in Python, just use desiredtype(x), e.g. int(x) to obtain an integer.
Try the following and explain the output
'''

In [ ]:
'''
(a) float(123) # outputs 123.0, converting int to float
(b) float(’123’) # outputs 123.0, converting string to float
(c) float(’123.23’) # outputs 123.23, converting string to float
(d) int(123.23) #outputs 123, converting float to integer
(e) int(’123.23’) # throw error, can not convert string that contains float to integer
(f) int(float(’123.23’)) # in order to prevent the error thrown in e is solveed here, first convert the string to float, then float to int
(g) str(12) #converts the integer 12 to string, it results "12"
(h) str(12.2) #converts the float (12.2) to string, it results "12.2"
(i) bool(’a’) # it convert all given values rather than the integer 0 to True
(j) bool(0) # output False, where 0 is interpreted as 0
(k) bool(0.1) # True, as explained in (i)
'''